@page "/"
@page "/index"
<input type="file" @onchange="Upload" />
<p>@Message</p>

@if (ImageResult != null)
{
    <img src="@ImageResult" style="max-width:100%;" />
    <p><b>Crater Coverage:</b> @Coverage %</p>
}

@code {
    string? ImageResult;
    string? Message;
    double Coverage;

    async Task Upload(ChangeEventArgs e)
    {
        var file = (IBrowserFile)e.Value;
        var content = new MultipartFormDataContent();
        content.Add(new StreamContent(file.OpenReadStream()), "file", file.Name);

        var client = new HttpClient();
        var response = await client.PostAsync("http://localhost:8000/detect", content);
        var json = await response.Content.ReadFromJsonAsync<dynamic>();

        if (json.success == true)
        {
            ImageResult = $"data:image/png;base64,{json.image_base64}";
            Coverage = json.coverage;
            Message = null;
        }
        else
        {
            Message = json.message;
        }
    }
}
